
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin:                0;
    border:                0;
    padding:               0;
    box-sizing:            border-box;
    font-family:           'Roboto', sans-serif;
}

:root {
    --defaultWhite: white;
    --defaultRed:   rgb(208, 0, 0);
}

html, body {
    width:                 100%;
    height:                auto;
    min-height:            100vh;
}

body {
    background-attachment: fixed;
    background-image:      url('./img/Background.jpg');
    background-repeat:     no-repeat;
    background-size:       cover;
    vertical-align:        middle;
}

.container {
    margin:                0 auto;
    width:                 100%;
    max-width:             1200px;
    height:                auto;
    min-height:            100vh;

    display:               flex;
    flex-direction:        column;
    justify-content:       space-between;
}

header {
    width:                 100%;
    height:                auto;
    padding:               32px 0 17px 0;
    text-align:            center;
}

h1 {
    color:                 var(--defaultWhite);
    font-weight:           400;
}

main {
    display:               flex;
    justify-content:       center;
    flex-wrap:             wrap;

    padding:               20px 15px;
    gap:                   15px;
}

img {
    width:                 100%;
    max-width:             300px;
    height:                auto;
    vertical-align:        middle;
    border:                1px solid var(--defaultWhite);
}


footer {
    width:                 100%;
    height:                auto;
    text-align:            center;
    padding:               15px 0;
}

p, a    { color:           var(--defaultWhite);         }
a       { text-decoration: none;                        }
a:hover { border-bottom:   3px solid var(--defaultRed); }
